<center><h1><strong>WELCOME!</strong></h1>
<h2>You can create, read and add comments on a blog!</h2>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Read Articles', controller: 'articles' %></button>
<button type="button" class="btn btn-outline-primary"><%= link_to 'New article', new_article_path %></button>
</center>
