 <div class="container-fluid">
 <div>
       <img src="./images/home/SAM_3699.JPG" class="img-responsive" alt="Dominic">
       
<div class="hero-image">
  <div class="hero-text">
    <h1>Saint Dominic School Kagugu</h1>
    <h4><strong>"Conscious, Solidarity and Excellence" is our MOTTO </strong></h4>
    <h6><strong>You are Most Welcome!</strong></h6>
    <div class="row">
        <button type="button" class="btn btn-outline-primary">WELCOME MESSAGE</button>
        <button type="button" class="btn btn-outline-primary"><%= link_to 'HOME', controller: 'welcome' %></button>
        <button type="button" class="btn btn-outline-primary"><%= link_to 'READ ARTICLES', controller: 'articles' %></button>
        <button type="button" class="btn btn-outline-primary"><%= link_to 'NEW ARTICLE', new_article_path %></button>
    </div>
    <h5>You can create, read and add comments on this website!</h5>
  </div>
</div>
</div>
      <article class="row">
        <div class="col-sm-4">
            <h3>Self-Introduction</h3>
          <p><h5>My name is MAGEZA ADOLPHE, I am 32 years old. I am married and have one child.<br>
                  I did Computer Science with Education(CSE) at university and sciences at Hight school.<br>
                  I am right now a teacher at primary school and sometime casual business
                  plan consultant.<br>I like to to watch football matches and
                  spend my time with friends and my family too.</h5></p>
        </div>
        <div class="col-sm-4">
            <h3>My Motivation</h3>
          <p><h5> I would like to pursue my career in Information Technology
            especially in programming because coding is essential skill and
            the base of innovative solutions. I hope to get from this
            internship competitive skills in programming that may create solution
            I wish and plan to help future generation to create and find solutions
            through coding and equip them with the tools they need to build
            and not just consume. I believe that this will help in breaking down
            the social and economic barriers to peace.</h5></p>
        </div> 
         <div class="col-sm-4">
            <h3>Breaking news</h3>
          <p><h5> I would like to pursue my career in Information Technology
            especially in programming because coding is essential skill and
            the base of innovative solutions. I hope to get from this
            internship competitive skills in programming that may create solution
            I wish and plan to help future generation to create and find solutions
            through coding and equip them with the tools they need to build
            and not just consume. I believe that this will help in breaking down
            the social and economic barriers to peace.</h5></p>
        </div> 
      </article>
    </div>