body {
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 2;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: absolute;
  background-color:#D3D3D3;
}

h1{
    font-weight:bold;
    text-align:auto;
}

li{
    list-style:none;
}

ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#012F4B;
    color:#fff;
}

.menu li {
    padding:5% 10%;
    text-align:center;
}

article {
    background-color:#E0FFFF;
    color:black;
    padding:10% 10%;
    box-sizing: border-box;
    border: solid 1px #fff;
    text-align: justify;
}
.topic li{
    margin:1%;
    border-bottom: dotted 1px #333333;
}

.container-fluid{
    margin-top:auto;
}

.imgsize {
  max-height:200px;
  max-width:200px;
  border-radius: 50%;
}