<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <!-- ！！Edit below！！ -->
  <form action="/a" method="POST">
    <h1>Inquiry form</h1>
    <div>
      Name<input type="text" name="name">
    </div>
    <div>
      Email<input type="text" name="email">
    </div>
    <div>
      Inquiry content
      <textarea name="content" cols=40 rows=4></textarea>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</body>
</html>